<div id="page_wrapper">
	<h1>New Team</h1>

	<%= form_for :team, url: teams_path do |f| %>
		<% if @team.errors.any? %>
			<div id="errors">
				<h2><%= pluralize(@team.errors.count, "error") %> prevented this team from saving</h2>
				<ul>
					<% @team.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<p>
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</p>

		<p>
			<%= f.label :sport %><br>
			<%= f.text_field :sport %>
		</p>

		<p>
			<%= f.submit %>
		</p>
	<% end %>
</div>